* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image:url(Imagenes/ferre\ borrosa.jpg);
  background-size: cover; /*completa imagen*/
  background-position: center;
  background-attachment: fixed;
  
}

.Formulario-Empleado {
  width: 35%;
  height: 50%;
  background:#ffffff;
  padding: 50px;
  margin: auto;
  border-radius: 4px;
  color: #000000;
  box-shadow: 7px 13px 37px #ffb703;
  align-items: center;
  text-align: center;
}
.Formulario-Empleado h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.Formulario-Empleado select{
  border-radius: 10px;
  display:relative;
  height: 30px;
  width: 200px;
  font-size: 18px;
  margin: 10px;
  color:#000000;
  background-color: #ffffff;
  border: 3px solid #ffb703;;
}

.estado{
  display: flex;
  }
  .estado h3{
    position: relative;
    top: 10px;
    margin-left: 40px;
  }

  .documento{
    display: flex;
    }
    .documento h3{
      position: relative;
      top: 10px;
    }

.controls {
  width: 100%;
  background: #ffffff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  margin-top: 2px;
  border: 3px solid #ffb703;
  font-family: 'calibri';
  font-size: 18px;
  color: rgb(0, 0, 0);

}

.Formulario-Empleado p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.Formulario-Empleado a {
  color: white;
  text-decoration: none;
}

.Formulario-Empleado a:hover {
  color: white;
  text-decoration: underline;
}
.Formulario-Empleado .botons {
  border-radius: 10px;
  width: 40%;
  background:#ffb703;
  color: #ffffff;
  border: none;
  padding: 8px;
  border:1px solid #ffb703;
  margin: 13px 0;
  font-size: 16px;
}
.Formulario-Empleado .botons:hover{
  cursor: pointer;
  background-color: #ffffff;
  color: #ffb703;
}